.git/
Thumbs.db
.DS_Store
reaper-install-rev.txt
reaper-recent*.ini
Data/
MetadataCaches/
LangPack/
MidiNoteNames
*.bak
reaper-vstplugins64.ini
Icon\r
Cursors/
Scripts/
reaper-clap-linux-x86_64.ini
reaper-midihw-linux.ini
*linux.ini
reaper-clap-macos-aarch64.ini
reaper-vstplugins_arm64.ini
reaper-vstshells_arm54.ini
reaper-wndpos.ini
/ColorThemes
/Effects
